<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>BHN Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
  <body>
    <main class="container">
      <header class="row text-center ">
        <div class="col">
          <nav class="navbar  navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/home}">NHL Store</a>
            
        </nav>
            
        </div>
    </header>
        <section class="row">
            <div class="col mt-4 ">
              <div class="card">
                <div class="card-header">
                  <h1>Cart</h1>
                </div>
                <div class="card-body">
                  <div th:if="${mes!=null}" class="alert alert-primary" role="alert">
                    <i>[[${mes}]]</i>
                  </div>
                  <div class="row mt-2 mb-2">
                    <div class="col pb-3">
                      <form th:action="@{/customer/cart/checkout}">
                        <div class=" form-inline ">
                          <b for="amount" class="mr-2 float-left">Amount:</b>
                          <i id="amount" th:text="${amount} + ' $'" class="mr-4 float-left"></i>
                          <button type="button submit" class="btn btn-primary" th:if="${cartitems.size>0}">Checkout</button>
                          
                          <a th:href="@{'/customer/home' }" class="btn btn-outline-secondary float-right ml-4" ><i class="">Continues Shopping</i></a>
                        </div>
                        
                      </form>
                      
                    </div>
                    
                  </div>
                  <table class="table table-striped table-inverse ">
                    <thead class="thead-inverse">
                      <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <!-- <th></th> -->
                      </tr>
                      </thead>
                      <tbody>
                        <!-- <input th:field="${accountid}" hidden> -->
                        <tr th:each=" cartitem: ${cartitems}" th:object="${cartitem}">
                          
                          <td th:text="*{product.name}"></td>
                          <td th:text="*{quantity}"></td>
                          
                          <td>
                            <a th:href="@{'/customer/cart/addtocart/' + *{product.productId}}" class="btn btn-outline-primary" th:if="${cartitem.quantity < cartitem.product.quantity}"><i class="fas fa-plus"></i></a>
                            <a th:href="@{'/customer/cart/delete/'+ *{id} }" class="btn btn-outline-danger"><i class="fas fa-recycle"></i></a>
                            
                            <!-- <a th:href="@{'/admin/products/delete/'+ *{productId} }" class="btn btn-outline-success"><i class="fas fa-shopping-bag"></i></a> -->

                          </td>
                        </tr>
                        
                      </tbody>
                  </table>
                </div>
                <div class="card-footer text-muted">
                 
                </div>
              </div>
            </div>
        </section>
        <footer>
          
          
        </footer>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>