<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' media='screen' href='../statics/home.css'>
    <link rel="stylesheet" type='text/css' media='screen' href='../statics/xacnhan.css'>
    
</head>
<body>
    <div class="container">
        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid p-3 mb-2 bg-info text-dark">
                 
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="navbar-brand" th:href="@{/home}">NHL Store</a>
                
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Đăng nhập</a>
                      </li> -->
                      
                        
                      <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li> -->
                    </ul>
                    
                  </div>
                </div>
              </nav>
        </div>
        <div class="xacnhan">
          <!-- <input th:field="${accountid}" hidden> -->
            <form th:action="@{/customer/cart/checkout/save}" method="post" th:object="${order}">
              <div class="form-group mb-3">
                <label for="">Họ và tên:</label>
                <input type="text" class="form-control" th:field="*{name}" aria-describedby="helpId" placeholder="" required>
                <small id="helpId" class="form-text text-muted">Field is required</small>
              </div>
              <div class="form-group">
                  <label for="">Địa chỉ:</label>
                  <input type="text" class="form-control" th:field="*{adress}" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div class="form-group">
                  <label for="">Số điện thoại:</label>
                  <input type="text" class="form-control" th:field="*{phone}" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div>
                  <label for="pt">Phuong thuc thanh toan:</label>
                    <select class="form-control" th:field="*{phuongthuc}" id="pt">
                      <option  th:value="Online"  >Qua the ngan hang</option>
                      <option  th:value="Offline"  >Tra khi nhan hang</option>
                    
                    </select>
                  </label><br>
                  <!-- </center> -->
              
                  <a th:href="@{/customer/home}"><button class="btn btn-lg btn-secondary btn-block ">Continue Shopping </button></a>
                  <button class="btn btn-lg btn-primary btn-block">Confirm</button>
              </div>
            </form>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>